<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rickshaw Buddy</title>
</head>
<body>
<h3>Welcome to Rickshaw Buddy</h3>
 <form method="post" action="{% url 'searchrider' %}">
         {% csrf_token %}
        <label for="pickup">Pickup Location:</label>
        <input type="text" id="pickup" name="pickup" placeholder="Enter pickup location" required>
        <br>
        <label for="destination">Destination Location:</label>
        <input type="text" id="destination" name="destination" placeholder="Enter destination location" required>
        <br>
        <button type="submit">Search</button><br>
     <a  href="{% url 'logout' %}">Logout</a>
    </form>
</body>
</html>