
<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->

<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
       <h1>Login Form</h1>
       <div class="main-agileinfo">
          <div class="agileits-top">
             <form action="#" method="post">
                {% csrf_token %}
                <input class="text" type="text" name="username" placeholder="User Name" required=""><br>
                <input class="text" type="password" name="password" placeholder="Password" required="">
                <input type="submit" value="LOGIN"><br>
             </form>
             <a href="{% url 'signup'%}">Create a account</a>
          </div>
       </div>

       <ul class="colorlib-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
       </ul>
    </div>
    <!-- //main -->
</body>
</html>